body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #6A1B9A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img {
    height: 50px;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu li {
    margin-right: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer {
    background-color: #6A1B9A;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20%;
}
.site-map ul {
    list-style: none;
    padding: 0;
}
.site-map li {
    margin: 10px 0;
}
.site-map a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    color: rgb(4, 53, 53);
    text-align: center;
    margin-top: 50px;

}

p {
    text-align: center;
    font-weight: normal ;
    font-size: medium;
    font-family: 'Arial', sans-serif;
    margin-top: 48px;

}
