.header {
    background-color: #6A1B9A;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img {
    height: 50px;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu li {
    margin-right: 20px;
}
.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .product-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .product {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
  }
  .product img {
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
  }
  .product-name {
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .product-price {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
  }

  .footer {
    background-color: #6a1b9a;
    color: white;
    text-align: center;
    padding: 20px;
}

.site-map ul {
    list-style: none;
    padding: 0;
}

.site-map li {
    margin: 10px 0;
}

.site-map a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}